<div class="post">

    <h1 class="center"> <a href="/post/{{row.id}}"> {{row.title}} </a> </h1>
    <p class="text">{{row.content}}</p>
    <p class="time">{{row.name}}: {{row.createdAt}}</p>

</div>